.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
}

.container {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #beebf1, #f3accc);
  height: 100vh;
}
