.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;

  /* background-image: linear-gradient(to bottom right, #beebf1, #f3accc); */
  background-image: light-dark(
    url("../../assets/authImages/auth-background-light-1.webp"),
    url("../../assets/authImages/auth-background-dark-1.webp")
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.glass {
  /* make this blur to be harmony with background image*/
  /* opacity: 0.9; */
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: light-dark(rgba(255, 255, 255, 0.8), rgba(50, 50, 50, 0.7));
  /* mix-blend-mode: multiply; */
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.subtext {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 500;
  font-size: 1.2rem;
  color: light-dark(--mantine-color-gray-0, --mantine-color-var(--mantine-color-dark-0));
}
