{
  "plugins": ["prettier-plugin-classnames", "prettier-plugin-merge"],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindAttributes": ["classNames"],
  "tailwindFunctions": ["clsx"],
  "customAttributes": ["classNames"],
  "customFunctions": ["clsx"]
}
