{
  "plugins": ["prettier-plugin-classnames", "prettier-plugin-merge"],
  "customAttributes": ["classNames"],
  "customFunctions": ["cn"],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["cn"],
  "printWidth": 100
}
