.icon {
  width: 22px;
  height: 22px;
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
    fill: var(--mantine-color-blue-3);
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
    color: var(--mantine-color-yellow-3);
  }
}
