/* @import "tailwindcss" source(none); */
@import "tailwind-preset-mantine";
@import "./theme.css";

@theme theme {
  /* --spacing: 0.25rem; 4px */
  --spacing: 0.063rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--mantine-color-default-border, currentColor);
  }
}

/* @config "../tailwind.config.ts"; */

@utility container {
  margin-inline: auto;
}

/* To hide scrollbar */
@utility hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility grid-cols-fit-* {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(calc(--value(integer) * 1px), 100%), 1fr)
  );
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(--value([length]), 100%), 1fr)
  );
}

@utility grid-cols-fill-* {
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(calc(--value(integer) * 1px), 100%), 1fr)
  );
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(--value([length]), 100%), 1fr)
  );
}
