@import "tailwind-preset-mantine";
@import "./theme.css";

@theme {
  --spacing: 0.25rem;
}

@config "../tailwind.config.ts";

/* Create grid auto fit column */
/* @utility grid-cols-fit-* {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(calc(--value(integer) * 1px), 100%), 1fr)
  );
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(calc(--value([integer]) * 1px), 100%), 1fr)
  );
} */

/* Create grid auto fill column */
/* @utility grid-cols-fill-* {
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(calc(--value(integer) * 1px), 100%), 1fr)
  );
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(calc(--value([integer]) * 1px), 100%), 1fr)
  );
} */

/* To hide scrollbar */
/* @utility hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
} */
/* 
@variant umd (
  @media (max-width: 768px)
); */
